# SPDX-FileCopyrightText: Intel Corporation
#
# SPDX-License-Identifier: BSD-3-Clause

# Testing
pre-commit==3.2.1

# Documentation
breathe==4.35.0
sphinx==4.5.0
sphinx-book-theme==1.0.0

# sphinx book theme 1.0.0 imports a private symbol in here that has
# been eliminated in later releases
pydata-sphinx-theme==0.13.3

sphinxcontrib-spelling==8.0.0
