# SPDX-FileCopyrightText: Intel Corporation
#
# SPDX-License-Identifier: BSD-3-Clause

# Testing
pre-commit

# Documentation
breathe
sphinx
sphinx-book-theme

# sphinx book theme 1.0.0 imports a private symbol in here that has
# been eliminated in later releases
pydata-sphinx-theme==0.13.1

sphinxcontrib-spelling
