Source: distributed-ranges
Section: libs
Priority: optional
Maintainer: Kacper Stefanski <kacper.stefanski@intel.com>
Build-Depends: debhelper-compat (= 13), cmake, g++-12, libgtest-dev, libcxxopts-dev, libfmt-dev
Standards-Version: 4.6.0
Homepage: https://www.intel.com/content/www/us/en/developer/articles/guide/get-started-with-distributed-ranges.html
Vcs-Browser: https://www.github.com/oneapi-src/distributed-ranges
Vcs-Git: https://www.github.com/oneapi-src/distributed-ranges.git

Package: distributed-ranges
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Distributed Ranges library
 A library for distributed range-based parallel programming.
